
h3 {
    margin-bottom: 50px;
    font-weight: bold;
    text-decoration: underline;
}

h4 {
    text-decoration: underline;
    font-weight: bold;
}

body {
    background-image: url("http://caresumeworld.com/p/2018/05/food-menu-background-hd-world-of-printable-and-chart-pertaining-to-food-menu-background-hd.jpg");
}

.menu {
    margin-bottom: 45px;
    color: black;
    font-weight: 600;
    font-size: large;
}