h2 {
    color: black;
    text-decoration: underline;
}

.thanks {
     min-height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center;
}

body {
    background-color: 	#FAEBD7;
}