
body {
    background-image: url("https://orig00.deviantart.net/b5f5/f/2012/108/6/3/yellow_windows_8_bubbles_background_by_gifteddeviant-d4wkhzw.png");
}
.menu {
    font-size:x-large;
    color: DarkBlue;
    margin-top: 50px;
    margin-bottom: 50px;
}

h3 {
    margin-top:60px;
    text-decoration: underline;
    font-weight: bold;
}
h4 {
    font-weight: bold;
    text-decoration: underline;
}